div {
    display: flex;
}
div.msg{
    display: block;
}
#btn{
    height: 100;
}
p {
    padding-right: 50;
}
button {
    height: 30;
    width: 80;
    margin-top: 10;
    margin-right: 30;
}
button.out {
    width: 120;
}
#output {
    padding-left: 50;
}
.ndata {
    width: 100;
}
.dataname {
    width: 500;
}
#instmsg {
    width: 650;
}