<!DOCTYPE html5>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="static/script.js"></script>
</head>

<body>
    <h1>CREATE DATASET</h1>
    <p>Select data to include in the dataset</p>
    <script>
        var data_set = new Set();
        interface();
    </script>
    <div>
        <button onclick="returnData()">Proceed</button>
        <p id="output"></p>
    </div>
</body>