<!DOCTYPE html5>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="static/script.js"></script>
</head>

<body>
    <h1>CREATE DATASET</h1>
    <div id="inst" class="msg">
        <div id="dall">
            <p id="instmsg">Select data to include in the dataset</p>
            <button id="chall" value="Add" onclick="changeAll(self)">Add</button>
        </div>
    </div>
    <script>
        var data_set = new Set();
        interface();
    </script>
    <div id="btn" class="msg">
        <p id="msg">...</p>
        <div>
            <button class="out" onclick="createDataset()">Create dataset</button>
            <button class="out" onclick="createTest()">Create test</button>
            <button class="out" onclick="trainNN()">Train NN</button>
        </div>
    </div>
</body>