<?xml version="1.0" ?>
<launch>
  <rosparam command="load" file="$(find franka_example_controllers)/config/franka_example_controllers.yaml" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"  args="joint_position_example_controller"/>

  <include file="$(find panda_moveit_config)/launch/demo.launch" />
</launch>
