<?xml version="1.0" ?>

<launch>
    <arg name="robot_ip" default="172.16.0.2" />
    <arg name="load_gripper" default="false" />
    <arg name="virtual" default="true" />
    <arg name="rviz_tutorial" default="false"/>
    <arg name="debug" default="false" />
    <arg name="pipeline" default="ompl" />

    <!-- Launch franka_control node -->
    <include file="$(find franka_control)/launch/franka_control.launch" if="$(arg load_gripper)">
        <arg name="robot_ip" value="$(arg robot_ip)" />
	    <arg name="load_gripper" value="$(arg load_gripper)" />
    </include>

    <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
    <include file="$(find panda_moveit_config)/launch/planning_context.launch">
        <arg name="load_robot_description" value="true"/>
    </include>

    <!-- Load controller -->
    <rosparam command="load" file="$(find panda_moveit_config)/config/panda_controllers.yaml" />
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="position_joint_trajectory_controller"/>

    <!-- Launch joint_states_publisher node -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="/use_gui" value="false"/>
        <rosparam param="/source_list">[/move_group/fake_controller_joint_states]</rosparam>
    </node>

    <!-- Launch joint_states_publisher node -->
    <node name="joint_state_desired_publisher" pkg="topic_tools" type="relay" args="joint_states joint_states_desired" />

    <!-- Launch robot_states_publisher node -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

    <!-- Launch move_group -->
    <include file="$(find panda_moveit_config)/launch/move_group.launch">
        <arg name="allow_trajectory_execution" value="true"/>
        <arg name="fake_execution" value="true"/>
        <arg name="info" value="true"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="pipeline" value="$(arg pipeline)"  />
    </include>

    <!-- Run Rviz -->
    <include file="$(find panda_moveit_config)/launch/moveit_rviz.launch">
        <arg name="rviz_tutorial" value="$(arg rviz_tutorial)"/>
        <arg name="debug" value="$(arg debug)"/>
    </include>
    
    <!-- Launch controller node -->
    <!-- <node pkg="path_planning" name="controller" type="controller.py" output="screen">
    </node> -->
</launch>
