<?xml version="1.0" ?>

<launch>
    <arg name="robot_ip" default="172.16.0.2" />
    <arg name="arm_id" default="panda" />
    <arg name="load_gripper" default="false" />
    <arg name="virtual" default="true" />
    <arg name="rviz" default="false"/>
    <arg name="gazebo" default="true"/>
    <arg name="debug" default="false" />
    <arg name="pipeline" default="ompl" />
    <arg name="world" default="worlds/empty.world" />



    <!-- Launch franka_control node -->
    <include file="$(find franka_control)/launch/franka_control.launch" if="$(arg load_gripper)">
        <arg name="robot_ip" value="$(arg robot_ip)" />
        <arg name="load_gripper" value="$(arg load_gripper)" />
    </include>

    <!-- Load the URDF as robot_description parameter -->
    <include file="$(find panda_moveit_config)/launch/planning_context.launch">
        <arg name="load_robot_description" value="true"/>
        <arg name="load_gripper" default="$(arg load_gripper)" />
    </include>

    <!-- Launch move_group -->
    <include file="$(find panda_moveit_config)/launch/move_group.launch">
        <arg name="allow_trajectory_execution" value="true"/>
        <arg name="fake_execution" value="true"/>
        <arg name="info" value="true"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="pipeline" value="$(arg pipeline)"  />
    </include>

    <!-- Launch Rviz -->
    <include file="$(find panda_moveit_config)/launch/moveit_rviz.launch" if="$(arg rviz)">
        <arg name="rviz_tutorial" value="false"/>
        <arg name="debug" value="$(arg debug)"/>
    </include>

    <!-- Launch gazebo_ros -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch" if="$(arg gazebo)">
        <arg name="world_name" value="$(arg world)"/>
        <arg name="paused" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="use_sim_time" value="true"/>
    </include>

    <!-- Launch publisher nodes -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="/use_gui" value="false"/>
        <rosparam param="/source_list">[/move_group/fake_controller_joint_states]</rosparam>
    </node>
    <node name="joint_state_desired_publisher" pkg="topic_tools" type="relay" args="joint_states joint_states_desired" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

    <!-- Spawn robot -->
    <arg name="initial_joint_positions"
    default="-J $(arg arm_id)_joint1 0
                -J $(arg arm_id)_joint2 -0.785398163397
                -J $(arg arm_id)_joint3 0
                -J $(arg arm_id)_joint4 -2.3561944899
                -J $(arg arm_id)_joint5 0
                -J $(arg arm_id)_joint6 1.57079632679
                -J $(arg arm_id)_joint7 0.785398163397"
    />
    <node name="$(arg arm_id)_model_spawner"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param robot_description -urdf -model $(arg arm_id) -unpause $(arg initial_joint_positions)">
    </node>




    <!-- <node name="move_to_start" pkg="franka_example_controllers" type="move_to_start.py" output="screen" required="true" /> -->

    <group ns="$(arg arm_id)">
        <rosparam file="$(find franka_gazebo)/config/franka_hw_sim.yaml" subst_value="true" />
        <!-- <rosparam file="$(find franka_gazebo)/config/sim_controllers.yaml" subst_value="true" /> -->
        <rosparam command="load" file="$(find franka_example_controllers)/config/franka_example_controllers.yaml" />

        <node name="$(arg arm_id)_gripper_controller_spawner" pkg="controller_manager" type="spawner" if="$(arg load_gripper)" args="franka_gripper" respawn="false" />
        <!-- <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="franka_state_controller $(arg controller)"/> -->
        <node name="$(arg arm_id)_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_position_example_controller"/>
    </group>

    

    <!-- Launch controller node -->
    <!-- <node pkg="path_planning" name="controller" type="controller.py" output="screen"/>
    </node> -->
</launch>